//------------------------------------------------// 
//-----------------GLOBAL RESET-------------------// 
//------------------------------------------------// 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: #ccc;
}


a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

// Test
.hero {
    // Temporary
    height: 105vh;
    background-repeat: no-repeat;
    animation: fade 5s infinite;
}

@keyframes fade {
    0% {opacity: 0}

    50% {opacity: 1}

    100% {opacity: 0}
}

