//------------------------------------------------// 
//-----------------GLOBAL RESET-------------------// 
//------------------------------------------------// 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: #ccc;
}


a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

