//------------------------------------------------// 
//--------------HEADER COMPONENTS-----------------// 
//------------------------------------------------// 

// Header
.header {
    position: relative;
    // To push the social media links to the top right without absolute positioning
    display: flex;
    justify-content: space-between;

    &__logo {
        width: 20rem;
        height: 10rem;
        margin-top: 2rem;
        margin-left: 3rem;
    }

    &__content {
        position: absolute;
        top: 40%;
        left: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
    }

    &__text {
        padding: 2rem 3rem;
        letter-spacing: .3rem;
        color: $primary-1;
        margin-bottom: 1.5rem;
        text-align: center;

        & > p {
            font-size: 2.5rem;
            font-weight: 400;
            color: $grey-1;
        }
    }

    &__nav {
        margin-top: 1rem;
        margin-right: 2rem;

        &-list {
            display: inline-block;
            font-size: 2rem;
            padding: 2rem;
            cursor: pointer;
        }

        &-item {
            color: $white-1;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            &--red:hover {
                color: $red-2;
            }

            &--yellow:hover {
                color: $yellow-2;
            }

            &--blue:hover {
                color: $blue-2;
            }
        }

        &-link {
            &,
            &:link,
            &:visited {
                display: inline-block;
                text-shadow: $shadow-2;
                transition: all .5s;
            }

            &:hover {
                transform: scale(1.5);
                text-shadow: $shadow-1;
            }

            &:active {
                transform: scale(1.2);
                text-shadow: $shadow-3;
            }

        }

    }
}

//------------------------------------------------// 
//--------------FEATURES COMPONENTS---------------// 
//------------------------------------------------// 

.features {

    &__text {
        padding: 1rem;
        margin-bottom: 4rem;
        letter-spacing: .4rem;
        color: $primary-3;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 5rem;
        padding: 2rem 1rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 1.5rem .5rem;
        border: 1px solid $grey-2;
        box-shadow: 0 .3rem .8rem rgba(150, 150, 150, .3);
        transition: all .6s;

        & > p {
            padding: 2rem;
        }

        &:hover {
            transform: translateY(-2.5rem);
            box-shadow: .5rem 1.5rem 2rem rgba(150, 150, 150, .7);
        }
    }

    &__icon {
        color: $primary-3;
        font-size: 5rem;
        margin: 1.5rem 0;
    }



    
}

//------------------------------------------------// 
//---------------SEARCH COMPONENTS----------------// 
//------------------------------------------------//

.results {
    // TODO: DO SOME LAYOUT RESEARCH
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid red;
    padding: 2rem 0;

    &__input {
        border: 1px solid $grey-2;
        border-radius: 50rem;
        padding: .2rem;
        margin-right: -3.5rem;
        width: 80%;
        font-family: inherit;
        font-size: 1.5rem;

        &:focus {
            outline: none;
            box-shadow: 0 .3rem .8rem rgba(150, 150, 150, .3);
        }
    }

    &__btn {
        padding: .2rem 1rem;
        background-color: inherit;
        border: none;

        &:focus {
            outline: none;
        }
    }
}

//------------------------------------------------// 
//---------------------BUTTON---------------------// 
//------------------------------------------------//

.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: .3rem;
    }

    &--cta {
        cursor: pointer;
        position: relative;
        font-size: 1.5rem;
        border-radius: 50rem;
        color: $black-2;
        background-color: $grey-1;
        transition: all .5s;

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 50rem;
            transition: all .6s;
        }

        &:hover {
            &::after {
                background-color: $grey-2;
                opacity: 0;
                transform: scaleX(1.7) scaleY(2);
            }
        }
    
    }

    &:hover {
        transform: translateY(-1rem);
        box-shadow: $shadow-1;
    }

    &:active {
        outline: none;
        transform: translateY(-.5rem);
        box-shadow: $shadow-2;
    }
}





