//------------------------------------------------// 
//-----------------GRID WRAPPER-------------------// 
//------------------------------------------------// 

.container {
    background-color: var(--color-grey-light-4);
    
    display: grid;
    grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];

    // ! Temporary. Remove when done
    height: 50rem;
}

//------------------------------------------------// 
//-----------------HEADER AREA--------------------// 
//------------------------------------------------// 

.header {
    grid-column: 1 / -1;
    background-color: var(--color-black-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 0 1.5rem;
}

//------------------------------------------------// 
//--------------MAIN CONTENT AREA-----------------// 
//------------------------------------------------// 

.content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

//------------------------------------------------// 
//-----------------FOOTER AREA--------------------// 
//------------------------------------------------// 

.footer {
    grid-column: 1 / -1;
    background-color: var(--color-grey-light-1);
    padding: 2rem;
    text-align: center;

    &__copyright {
        font-size: 1.2rem;
    }
}