html {
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

// FOR ALL HEADER TAGS

.headline {

    &-2 {

    }

    &-4 {
        font-size: 2rem;
        text-transform: capitalize;
    }
}