//------------------------------------------------// 
//-------------------COLORS-----------------------// 
//------------------------------------------------//

// BASE
$black-1: #1a1a1a;
$black-2: #2b2b2b;

$grey-1: #f6f6f6;
$grey-2: #ddd;
$grey-3: #6e6e6e;

$white-1: #fafafa;
$white-2: #fcfcfc;

// PRIMARY
$primary-1: #f5640a;
$primary-2: #c45008;
$primary-3: #f7833b;

// RED (Valor)
$red-1: #fb4f55;
$red-2: #ce050c;
$red-3: #8c0308;

// BLUE (Mystic)
$blue-1: #469bf8;
$blue-2: #0657b1;
$blue-3: #053f7f;

// YELLOW (Instinct)
$yellow-1: #eece70;
$yellow-2: #e9bf42;
$yellow-3: #cfa118;

//------------------------------------------------// 
//-------------------SHADOWS----------------------// 
//------------------------------------------------//

$shadow-1: .5rem 1rem 2rem rgba(0, 0, 0, .5);
$shadow-2: .2rem .8rem 1rem rgba(0, 0, 0, .7);
$shadow-3: 0 .75rem 1rem rgba(0, 0, 0, .6);